*.log
*.pyc
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.tmPreferences.cache
*.tmlanguage.cache
.DS_Store
.DS_Store?
.Spotlight-V100
.Trash-*
.Trashes
/.build/
/.cache/
/.vscode*/
/\.env
/\.out/
/packages/**/target
/target/
/tests/out/
/tmp*/
/venv/
Thumbs.db
__pycache__/
ehthumbs.db
/debug