\.cache
.dep
.local
data
viewer
figs
log
docs/build
docs/repo
notes/
vendor
pangraph
pangraph.tar.gz
bin
tutorial
playground*
.vscode

deps/minimap2/build
deps/minimap2/products

*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.pdf
*.fdb_latexmk
