[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
numpy = "*"
matplotlib = "*"
biopython = "*"
suffix-tree = "*"
portion = "*"
scipy = "*"
pyfaidx = "*"
scikit-bio = "*"
ipdb = "*"
cigar = "*"
seaborn = "*"
