name: Build

on:
  push:
    tags:
      - '*'

  repository_dispatch:
    types: build

  workflow_dispatch:


jobs:
  Docker-Build-and-Push:
    name: 'Docker: build and push'

    runs-on: ubuntu-20.04

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '1'

      - name: 'Get git tag'
        id: get_tag
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: 'Build Docker image'
        env:
          RELEASE_VERSION: ${{ steps.get_tag.outputs.tag }}
        run: |
          make docker

      - name: 'Login to DockerHub'
        env:
          RELEASE_VERSION: ${{ steps.get_tag.outputs.tag }}
        run: |
          echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: 'Push Docker image'
        env:
          RELEASE_VERSION: ${{ steps.get_tag.outputs.tag }}
        run: |
          make docker-push
