root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[{*.txt,*.rst,*.md,*.mdx,*.tex}]
max_line_length = 9999999
trim_trailing_whitespace = false

[{Makefile,*.makefile,go.mod,go.sum,*.go}]
indent_style = tab
